.posts-containner {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  justify-content: space-between;
  align-items: flex-start;

  .genreNav {
    width: 20%;
  }

  .allPost {
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
