.sub-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  margin-top: 10px;
  padding: 30px 0;

  .link {
    font-size: 20px;
    color: gray;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: black;
    }
  }

  .selected {
    color: black;
    font-weight: bold;
  }

  .active-links {
    color: black;
    border-bottom: 1.3px solid black;
    border-top: 1.3px solid black;
    padding: 2px 4px;
  }
}
