* {
  box-sizing: border-box;
}

.post-box {
  width: 30%;
  height: 200px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 15px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;

  &:hover {
    transform: scale(1.1);
  }
}
